.fa-icon-content {
  width: 50px;
  background-color: #01330d;
  color: #ffffff;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;

  img {
    width: 35px;
    height: 35px;
    // color: #ffffff;
  }
}

.text-toppic {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.text-sub-toppic {
  font-size: 12px !important;
  line-height: 15px;
  color: #546881;
}