

body {
  font-family: "Kanit", sans-serif;
}

.fa-icon-content {
  width: 30px;
  // background-color: #ffffff;
  // color: #000000;
  // background-color: #000000;
  background-color: #0b192e;
  color: #ffffff;
  padding: 4px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;

  img {
    width: 35px;
    height: 35px;
  }
}

span.text-toppic {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

span.text-sub-toppic {
  font-size: 12px !important;
  line-height: 15px;
  color: #546881;
}
