.loading-container {
    min-height: 200px;
    
    p {
        margin-top: 16px;
        color: #666;
    }
}

.edit-user-form {
    padding-top: 10px;
    min-width: 350px;
}

.full-width {
    width: 100%;
}

.secondary {
    color: #999;
}

.btn-spinner {
    display: inline-block;
    margin-right: 8px;
}
